.title{
				text-align: center;
				background-color: lightblue;
				height: 50px;
				line-height: 50px;
				font-size: 24px;
			}
			.content{
				background-color: aquamarine;
				
			}
			*{
				padding: 0;
				margin: 0;
			}
			.content td,.content th{
				border-left: 1px solid orange;
				border-top: 1px solid orange;
				height: 40px;
				line-height: 40px;
			}
			.content table{
				width: 100%;
				text-align: center;
				border-right: 1px solid orange;
				border-bottom: 1px solid orange;
			}
			.form{
				display: none;
				position: absolute;
				transform: translate(-50%,-50%);
				left: 50%;
				top: 50%;
			}